@model IEnumerable<ERPSystem.Models.ItemMaster>

@{
    ViewData["Title"] = "Item Master Management";
}

<div class="container-fluid">

    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h4>Item Master Management</h4>
        </div>

        <div class="card-body">

            <ejs-grid id="ItemMasterGrid"
                      dataSource="@Model"
                      allowPaging="true"
                      allowSorting="true"
                      allowFiltering="true"
                      toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Search", "ExcelExport" })">

                <e-data-manager url="/ItemMaster/UrlDataSource"
                                insertUrl="/ItemMaster/Insert"
                                updateUrl="/ItemMaster/Update"
                                removeUrl="/ItemMaster/Delete"
                                adaptor="UrlAdaptor">
                </e-data-manager>

                <e-grid-editSettings allowAdding="true"
                                     allowEditing="true"
                                     allowDeleting="true"
                                     mode="Dialog">
                </e-grid-editSettings>

                <e-grid-columns>

                    <e-grid-column field="ItemCode"
                                   headerText="Item Code"
                                   isPrimaryKey="true"
                                   validationRules="@(new { required = true })"
                                   width="150">
                    </e-grid-column>

                    <e-grid-column field="ItemName"
                                   headerText="Item Name"
                                   width="200">
                    </e-grid-column>

                    <e-grid-column field="ItemType"
                                   headerText="Item Type"
                                   width="150">
                    </e-grid-column>

                    <e-grid-column field="ItemDesc"
                                   headerText="Description"
                                   width="250">
                    </e-grid-column>

                    <e-grid-column field="CreatedBy"
                                   headerText="Created By"
                                   width="150"
                                   allowEditing="false">
                    </e-grid-column>

                    <e-grid-column field="CreatedOn"
                                   headerText="Created On"
                                   format="yMd"
                                   type="date"
                                   allowEditing="false"
                                   width="180">
                    </e-grid-column>

                </e-grid-columns>

            </ejs-grid>

        </div>
    </div>

</div>