﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ERPSystem</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.syncfusion.com/ej2/26.1.35/bootstrap5.css" rel="stylesheet" />
</head>
<body>

@{
    var loginId = Context.Session.GetString("LoginId");
}

<!-- SIDEBAR -->
<div class="sidebar">
    <h2>ERP System</h2>

    @if (loginId == null)
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
    }
    else
    {
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        <a asp-controller="PO" asp-action="Index">Purchase Orders</a>
        <a asp-controller="Product" asp-action="Index">Product</a>
        <a asp-controller="Inventory" asp-action="Index">Inventory</a>
        <a asp-controller="GRN" asp-action="Index">GRN Register</a>
        <a asp-controller="TransSpec" asp-action="Index">TransSpec</a>

        <hr />

        <a asp-controller="Account" asp-action="Logout" style="color:red;font-weight:600">
            Logout
        </a>
    }
</div>

<!-- MAIN CONTENT -->
<div class="main-wrapper">
    @RenderBody()
</div>

</body>
</html>