﻿<link rel="stylesheet" href="~/css/site.css" />

<div class="dashboard">
    <div class="cards">
        <div class="card" onclick="location.href='/PO/Index'" style="cursor:pointer;">
            <h3>Purchase Orders</h3>
            <p>Manage all purchase orders</p>
        </div>

        <div class="card" onclick="location.href='/Product/Index'" style="cursor:pointer;">
            <h3>Product</h3>
            <p>Product master data</p>
        </div>

        <div class="card" onclick="location.href='/Inventory/Index'" style="cursor:pointer;">
            <h3>Inventory</h3>
            <p>Stock and warehouse system</p>
        </div>

        <div class="card" onclick="location.href='/GRN/Index'" style="cursor:pointer;">
            <h3>GRN</h3>
            <p>Goods Receipt Note</p>
        </div>

        <div class="card" onclick="location.href='/TransSpec/Index'" style="cursor:pointer;">
            <h3>TransSpec</h3>
            <p>Select Stock in Inventory → Open Specs</p>
        </div>
    </div>
</div>
